* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --font-family: 'Raleway', sans-serif;
  --desktop-width: 1440px;
  --mobile-width: 375px;
  /* Color Primary */
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);
  /* Color Accent */
  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);
  /* Color Neutral */
  --Light-Grayish-Blue: #f8f8fe;
  --Light-Gray: hsl(0, 0%, 75%);
}

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0 auto;
  color: var(--Very-Dark-Blue);
}

.header{
  max-width: var(--desktop-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0px auto;
  padding: 0 5%;
}

.header-logo img {
  width: 90px;
}

.header-navbar{
  list-style: none;
  display: inline-flex;
  font-family: var(--font-family);
}

.header-navbar li {
  margin-right: 10px;
}

.header-navbar a {
  text-decoration: none;
}

.section1{
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
  padding: 0px 5%;
  padding-top: 30px;
}

.section1-ilustration {
  align-self: center;
  margin-bottom: 40px;
}

.section1-ilustration img {
  width: 100%;
}

.section1-details {
  text-align: center;
}

.section1-details h1 {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 1.7rem;
}

.section1-details p {
  margin-bottom: 25px;
  padding: 0 2%;
}

.section1-details input {
  width: 90%;
  border-radius: 3px;
  padding: 10px;
  border: 1px solid var(--Very-Dark-Blue);
  font-family: var(--font-family);
  margin-bottom: 10px;
}

.section1-details button {
  width: 90%;
  background-color: var(--Bright-Blue);
  padding: 10px;
  color: var(--Light-Grayish-Blue);
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 5px 0px var(--Light-Gray);
  font-family: var(--font-family);
  font-weight: bold;
}

::placeholder{
  color: var(--Light-Gray);
}

.section2{
  background-color: var(--Light-Grayish-Blue);
}

.section2-container {
  display: flex;
  flex-direction: column;
  max-width: var(--desktop-width);
  padding-bottom: 100px;
}

.curve {
  height: 115px;
  background-color: white;
  background-image: url(./img/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section2-ilustration{
  align-self: center;
  padding-top: 20px;
  padding-bottom: 80px;
}

.section2-ilustration img {
  width: 350px;
}

.section2-details {
  text-align: center;
}

.section2-details h2 {
  margin-bottom: 25px;
  font-family: var(--font-family);
  font-size: 1.2rem;
}

.section2-details p {
  text-align: start;
  margin-bottom: 20px;
  padding: 0px 5%;
}

.section2-details-call-to-action {
  padding-top: 20px;
  padding-bottom: 50px;
}

.section2-details a {
  color: var(--Moderate-Cyan);
  text-decoration: none;
  border-bottom: 1px solid;
  padding: 5px;
  margin: 20px 0 20px 0;
}

.card{
  max-width: 300px;
  width: 70%;
  border-radius: 5px;
  box-shadow: 0px 0px 25px -12px var(--Light-Gray);
  margin: 0 auto;
  padding: 15px;
  background-color: white;
}

.card-head {
  text-align: start;
}

.card-body p {
  padding: 10px 0px;
  margin: 0px;
  font-size: 0.8rem;
  line-height: 25px;
}

.card-footer {
  display: flex;
  align-items: center;
}

.card-footer img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.card-footer div p, h4 {
  margin: 0;
  text-align: start;
  font-size: 0.8rem;
  padding: 0;
}

.newsletter{
  background-color: var(--Desaturated-Blue);
  padding: 80px 0px;
  text-align: center;
  color: var(--Light-Grayish-Blue);
  display: flex;
  flex-direction: column;
}

.newsletter h2 {
  margin-bottom: 20px;
  font-family: var(--font-family);
}

.newsletter p {
  padding: 0px  50px;
  margin-bottom: 20px;
}

.newsletter input {
  width: 70%;
  border-radius: 3px;
  padding: 10px;
  border: 1px solid var(--Very-Dark-Blue);
  font-family: var(--font-family);
  color: var(--Light-Gray);
  margin-bottom: 10px;
}

.newsletter button {
  width: 70%;
  background-color: var(--Bright-Blue);
  padding: 10px;
  color: var(--Light-Grayish-Blue);
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 25px -12px var(--Very-Dark-Blue);
  font-family: var(--font-family);
  font-weight: bold;
}

.footer{
  padding: 80px 50px 50px 50px;
  background-color: var(--Very-Dark-Blue);
  color: var(--Light-Grayish-Blue);
  display: flex;
  flex-direction: column;
}

.footer ul {
  list-style: none;
}

.footer li {
  padding-bottom: 20px;
}

.footer a {
  text-decoration: none;
  color: var(--Light-Grayish-Blue);
}

.column1, .column2, .column3, .column4 {
  padding-bottom: 40px;
}

.column1 svg {
  margin-bottom: 30px;
}

.column1 p {
  padding-bottom: 20px;
}

.column1 p span {
  padding-right: 20px;
}

.column4 {
  text-align: center;
}

.column4 i {
  margin: 10px;
}

@media (min-width: 768px){

  .header-navbar li {
    margin-right: 25px;
  }  

  .section1 {
    flex-direction: row-reverse;
    max-width: var(--desktop-width);
    margin: 0px auto;
    padding-top: 50px;
    padding-bottom: 100px;
    align-items: center;
  }

  .section1-details {
    flex: 50%;
    text-align: start;
  }

  .section1-details h1 {
    font-size: 2.5rem;
    font-family: var(--font-family);
  }

  .section1-details input {
    width: 55%;
    margin-right: 10px;
  }
  .section1-details button {
    width: 30%;
  }

  .section1-ilustration {
    flex: 50%;
  }

  .section1-ilustration img {
    width: 100%;
  }

  .curve {
    background-image: url(./img/bg-curve-desktop.svg);
  }

  .section2-container {
    flex-direction: row-reverse;
    margin: 0 auto;
    padding: 50px 5%;
  }

  .section2-ilustration {
    flex: 50%;
  }

  .section2-ilustration img {
    width: 100%;
  }
  
  .section2-details {
    text-align: start;
    flex: 50%;
  }

  .section2-details h2 {
    font-size: 2rem;
  }
  
  .section2-details p {
    max-width: 500px;
    padding: 0;
  }

  .card {
    margin: 0;
  }

  .newsletter {
    flex-direction: row;
    align-items: center;
  }

  .newsletter div {
    flex: 60%;
  }

  .newsletter div p, h2 {
    text-align: start;
  }

  .newsletter div h2 {
    padding-left: 50px;
  }

  .newsletter div p {
    max-width: 500px;
  }

  .newsletter form {
    flex: 40%;
  }
  
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 180px;
    padding-bottom: 10px;
  }

  .column1 {
    flex: 50%;
    margin-top: -85px;
  }
  .column2 {
    flex: 30%;
  }
  .column3 {
    flex: 30%;
  }
  .column4 {
    flex: 30%;
    text-align: start;
  }
}